body {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;

  font-family: "Times New Roman", Times, serif;
}

body > div {
  display: flex;
  margin: 15px;
}

.title {
  font-size: 30px;
}

.box {
  position: relative;
  height: 250px;
  width: 150px;

  margin: 0 15px;

  border: 5px solid white;
}

.color-name {
  position: absolute;
  top: 15px;

  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}

.color-name > span {
}
.color-name > span:first-child {
  font-size: 20px;
}
.color-name > span:last-child {
  font-size: 13px;
}

body > div:nth-child(2) > div:first-child {
  background-color: tomato;
}
body > div:nth-child(2) > div:last-child {
  background-color: teal;
}
body > div:nth-child(3) > div:first-child {
  background-color: burlywood;
}
body > div:nth-child(3) > div:last-child {
  background-color: thistle;
}
