header 
    nav 
        ul  
            li 
                a(href="/") Home
            li 
                a(href="/search") Search
            li 
                a(href="/upload") Upload Movie
    h1=pageTitle

    
       
