header 
    a(href="/") Nomad Challenge

    nav 
        ul  
            li 
                a(href="/trending") Trending Story
            li 
                a(href="/new") New Story
            li 
                a(href="/stories/First_Story") See Story    
            li 
                a(href="/stories/First_Story/edit") Story Edit
            li 
                a(href="/stories/First_Story/delete") Story Delete
        ul  
            li 
                a(href="/join") Join
            li 
                a(href="/login") Log in
            li 
                a(href="/users") Users List  
            li 
                a(href="/users/nomad_coder") See Profile
            li 
                a(href="/users/nomad_coder/edit-profile") Edit Profile