extends layouts/layout
include mixins/movies

block content 
  form
    input(name="keyword" value=keyword placeholder="Search by title",)
    input(type="submit", value="Search Now")

  if keyword
    each movieInfo  in movies
      +movie(movieInfo)          
    else
      h3 해당 검색결과를 찾을 수 없습니다. 
