extends layouts/layout
include mixins/movies

block title
    h1 Searching by 
        if year&&rating
            span year : #{year} & rating : #{rating}
        else if year
            span year : #{year}
        else if rating
            span rating : #{rating}

block content
    form(method="get" action="/filter")
        input(value="year" name="year", placeholder="Filter by year", type="number")
        input(value="rating" name="rating", placeholder="Filter by rating(0~10)",type="number")
        input(type="submit", value="Search")
    each movie in filtering
        +movie(movie)
        